<p id="notice"><%= notice %></p>

<h1>Calculate</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rent</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cals.each do |cal| %>
      <tr>
        <td><%= cal.name %></td>
        <td><%= cal.rent %></td>
        <td><%= cal.description %></td>
        <td><%= link_to 'Show', cal %></td>
        <td><%= link_to 'Edit', edit_cal_path(cal) %></td>
        <td><%= link_to 'Destroy', cal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to ' Click here for New calculation', new_cal_path %>
